---
import ParamsForm from '~/components/dweam/ParamsForm.jsx';

interface Props {
  gameType: string;
  gameId: string;
}

const { gameType, gameId } = Astro.props;

// Fetch schema during server-side rendering
let schema: Record<string, any> | null = null;
try {
  const base_url = import.meta.env.INTERNAL_BACKEND_URL || 'http://localhost:8080';
  const response = await fetch(`${base_url}/game/${gameType}/${gameId}/params/schema`);
  if (response.ok) {
    schema = await response.json();
    console.log('Schema:', schema);
  } else {
    console.error('Failed to fetch schema:', response.status, response.statusText);
  }
} catch (error) {
  console.error('Error fetching schema:', error);
}
---

{schema !== null && Object.keys(schema.properties).length > 0 && (
  <div class="bg-gray-100 dark:bg-gray-800 p-4 rounded-lg">
    <h2 class="text-xl font-bold mb-4">Parameters</h2>
    <div id="params-panel">
      <ParamsForm client:load schema={schema} gameType={gameType} gameId={gameId} />
    </div>
  </div>
)}

<style>
  #params-panel {
    width: 100%;
  }
</style> 